/* customStyles.css */
body {
  background-color: white;
  color: #1F2041;
}

.is-main-color {
  background-color: #38AECC;
}

.is-secondary-color {
  background-color: #F9A620;
}

.is-accent-color {
  background-color: #046E8F;
}

.is-accent-color-2 {
  background-color: #0090C1;
}

.title-color {
  color: #38AECC !important;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.gradient-border {
  border-image: linear-gradient(to right, #38AECC, #F9A620);
  border-image-slice: 1;
}

.gradient-header {
  background: linear-gradient(to right, #38AECC, #F9A620);
}

.profile-area {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.profile-photo {
  width: 100px; /* Adjust size as desired */
  height: 100px; /* Adjust size as desired */
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px; /* Spacing between photo and text */
  border: 3px solid transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #33ccff, #ff33cc);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.profile-photo img {
  width: 100%;
  height: auto;
}

.profile-info .title,
.profile-info .subtitle {
  margin: 0;
  padding: 0;
}

.profile-container {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  text-align: left; /* Align text to the left for the title and description */
  padding: 20px;
  max-width: 960px; /* Or any max-width you prefer */
  margin: auto; /* This will center your container */
}

.profile-photo {
  flex-shrink: 0; /* Prevent the photo from shrinking */
  width: 100px; /* Your desired width */
  height: 100px; /* Your desired height */
  border-radius: 50%; /* Make the photo round */
  overflow: hidden; /* Ensure the image doesn't overflow the rounded edges */
  border: 3px solid transparent; /* Adjust border size as needed */
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #33ccff, #ff33cc);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.profile-photo img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.profile-info {
  margin-left: 20px; /* Spacing between photo and text */
}

.profile-info h1 {
  margin: 0;
  font-size: 1.5em; /* Adjust size as needed */
  color: #333; /* Or any color you prefer */
}

.profile-info p {
  margin: 5px 0 0; /* Spacing for the paragraph */
  color: #666; /* Or any color you prefer */
}


/* Add any additional styling needed for alignment and spacing */


.portfolio-item .portfolio-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  transition: .5s;
}

.portfolio-item:hover .portfolio-btn {
  opacity: 1;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  top: 30px;
  left: 30px;
}


.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  justify-content: center; /* Centered nav items */
  background: #f8f9fa; /* Light grey background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
}

.nav-link {
  padding: 0.75rem 1.25rem; /* Increased padding for better touch targets */
  font-weight: 500; /* Slightly bolder font for readability */
}

.nav-link:hover, .nav-link:focus {
  background-color: #e2e6ea; /* Light background on hover/focus for visibility */
}

.nav-tabs {
  border-bottom: 2px solid #dee2e6; /* Thicker bottom border for distinction */
}

.nav-tabs .nav-item {
  margin-bottom: -2px; /* Align with the thicker border */
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057; /* Dark grey color for active state for contrast */
  background-color: #fff; /* White background for active state */
  border-color: #dee2e6 #dee2e6 #fff; /* Borders matching the tab and background */
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #007bff; /* Bright blue for active pills for visibility */
}

.navbar {
  padding: 0.75rem 2rem; /* Increased padding for a larger hit area */
  background: #ffffff; /* White background for clean look */
  border-bottom: 2px solid #dee2e6; /* Border for separation from content */
}

.navbar-brand {
  font-size: 1.5rem; /* Larger font size for brand prominence */
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0.1); /* Light border for the toggler */
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem; /* Increased spacing for desktop */
    padding-left: 1rem;
  }
}



a.text-primary:hover, a.text-primary:focus {
  color: #38AECC !important;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.contact-form {

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-outline-primary {
  color: #0BCEAF;
  border-color: #0BCEAF;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #0BCEAF;
  border-color: #0BCEAF;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 206, 175, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #0BCEAF;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #0BCEAF;
  border-color: #0BCEAF;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(11, 206, 175, 0.5);
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #6c757d;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:focus, .btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
  color: #28a745;
  background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:focus, .btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
  color: #17a2b8;
  background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:focus, .btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:focus, .btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
  color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:focus, .btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
  color: #ffffff;
  background-color: transparent;
}

.btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:focus, .btn-outline-dark.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}

.btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #0BCEAF;
  text-decoration: none;
}

.btn-link:hover {
  color: #078571;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: underline;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.btn-sm, .btn-group-sm > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 0.5rem;
}